doctype html 
html 
    head 
        title CSS Using PUG 
        link(rel="stylesheet" href="style.css")
        style. 
         p{
             color : red;
             text-decoration : underline;
         }
    body
        - const pStyle = { "text-align" : "center" , "text-transform" : "uppercase" };
        p(style=pStyle) This is made with PUG. 
        -const names=["Nishant", "Abhi", "Jay"]
        each n ,i in names
            p= i + "-" + n
        -const grade={"HTML": 75, "NodeJS": 90,"TypeScript":90}
        for i ,j in grade 
            p=i+'-'+j
        for i in []
            p= i 
        else 
            strong No data to Print