 <h3>List of {{books}}</h3>
            <ol>
                {{#each names}}
                <li>{{name}}
                    {{/each}}
            </ol>
            {{{about}}}
            {{makeAdd 33 11}}

{{!-- 
   var info = document.getElementById("outer").innerHTML;
            var temp= Handlebars.compile(info);
            Handlebars.registerHelper("makeAdd" , (a , b)=>{ 
                let add = a+b
                let c ="<h3> made it with the help of withHelper= Addition: "+add+"</h3>"
                return new Handlebars.SafeString(c)
            })
            var outside= temp({
                books:"Fiction Books",
                names:[
                    {name: "The Russian"},
                    {name: "The Vanishing Half"},
                    {name: "The Midnight Library"},
                ],
                about:"<i>Writers of quality fiction up to 8,000 words are invited to submit to our quarterly magazine.We publish four times a year (January, April, July, October) and are open to most subject matter (but no fan fiction or erotica).<br /> Explicit language is acceptable when the story requires its usage.<br/>Give us something unexpected. Amaze us with your writing, use of language, sense of story, and memorable characters. Give us a story that we and our readers will not be able to forget. Give us an intriguing opening or premise, then follow it through to a strong ending. Pieces that don’t do this will usually be declined.</i>"
            })
        
           document.getElementById("outside").innerHTML += outside; --}}