<html>
    <head>
        <title>HandleBars</title>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
        <script src="./ex.js" ></script>
        
    </head>
    <body>
        <div id="data">
            <script type="text/javascript">
            // Simple Expresion
            var myInfo = "<p>My name is {{name}}. I live at {{area}} in {{city}}, {{state}}.</p>";
            var temp = Handlebars.compile(myInfo)
            
            var data = temp ({name:'Nishant', area:"Ghatlodia" , city:"Ahmedabad", state:"Gujrat"});
            //Nested input Objects
            let myInfo2 = "<p>Name: {{person.name}}</p>  <p>Age:{{person.age}}</p>"
            let templet = Handlebars.compile(myInfo2)
            let data2 = templet({person:{name:"Nishant" , age:18}})



            document.getElementById("data").innerHTML += data
            document.getElementById("data").innerHTML += data2
            
            </script>
        </div>
        <div id="outside">
            <!-- <script id="outer" type="text/x-handlebar">
            <h3>List of {{books}}</h3>
            <ol>
                {{#each names}}
                <li>{{name}}
                    {{/each}}
            </ol>
            {{{about}}}
            {{makeAdd 33 11}}

        </script> -->
        <script type="text/javascript">
            // var info = document.getElementById("outer").innerHTML;
            // var temp= Handlebars.compile(info);
            var temp = Handlebars.templates['ex']
            Handlebars.registerHelper("makeAdd" , (a , b)=>{ 
                let add = a+b
                let c ="<h3> made it with the help of withHelper= Addition: "+add+"</h3>"
                return new Handlebars.SafeString(c)
            })
            var outside= temp({
                books:"Fiction Books",
                names:[
                    {name: "The Russian"},
                    {name: "The Vanishing Half"},
                    {name: "The Midnight Library"},
                ],
                about:"<i>Writers of quality fiction up to 8,000 words are invited to submit to our quarterly magazine.We publish four times a year (January, April, July, October) and are open to most subject matter (but no fan fiction or erotica).<br /> Explicit language is acceptable when the story requires its usage.<br/>Give us something unexpected. Amaze us with your writing, use of language, sense of story, and memorable characters. Give us a story that we and our readers will not be able to forget. Give us an intriguing opening or premise, then follow it through to a strong ending. Pieces that don’t do this will usually be declined.</i>"
            })
        
           document.getElementById("outside").innerHTML += outside;
        </script>
    </div>
    </body>
</html>