//- basic commands
doctype html 
html
    head
        title Pug Example
    body 
        //- .maindiv. creates div automaticlly just entring class or id.
        h1#pageTitle Hello! 
        //- ids classes
        p.para.
            this Pug example 
            and this is new line
        ul 
            li one
            li two
            li three
        //- Attributes
        input(type="password" name="pasword" data-js=`${ 1 > 2 ? "ok" : "Not ok" }`)

        - const myClass= ["class1","class2","class3"]
        div.my-div(class=myClass)
         
        -const myStyle = {"color" : "red" , " background-color":  "blue"}
        div(style=myStyle)

        - const myAtt = {"src" : "myphoto.png" , "alt" : "This is my Photo"}
        img&attributes(myAtt) 
