<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <p>Used EJS for creating this templeate</p>
</div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>
